@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navBarCollapse{
    display: block !important;
    display: flex !important;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
    z-index: 2099 !important;
    margin-top: 15px;
    /* background-color: red; */
}
.navBarCollapse .nav-item .nav-link{
    font-weight: bolder;
    font-size: larger;
    padding: 5px 110px;
    background-color: #0a247280 !important;
}
.navBarCollapse .nav-home{
    animation: showSlow 0.5s ease;
}
.navBarCollapse .nav-destination{
    animation: showSlow 1s ease;
}
.navBarCollapse .nav-discount{
    animation: showSlow 1.5s ease;
}
.navBarCollapse .nav-about{
    animation: showSlow 2s ease;
}
.navBarCollapse .nav-blog{
    animation: showSlow 2.5s ease;
}
.navBarCollapse .nav-contact{
    animation: showSlow 3s ease;
}

.navbar{ 
    z-index: 2010;
    background-color: #0a247280 !important;
    position: fixed !important;
    right: 0;
    left: 0;
}
.nav-link{
    color: white !important;
}

/* HUMBARGAR NAVBAR */
.humbarBar-collapse{
    display: none !important;
}
.humbargerCrossBar{
    display: none !important;
}
.humbargerCrossBar-show{
    display: block !important;
    animation: opacityShow 1s ease;
}
@keyframes opacityShow{
   from{
        opacity: 0;
   }to{
        opacity: 1;
   }
}


@keyframes showSlow{
    0%{
        transform: translateY(-350px);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen and (max-width:1100px){
    .home-container{
        background-position: center;
    }
    .trainImageText{
        margin-bottom: 10px !important;
     }
}

/* FOR PHONE STAND SCREEN */
@media screen and (max-width:450px){
    .navBarCollapse .nav-item .nav-link{
        color: black !important;
        padding: 5px 100px !important;
    }
    .find-hotels-text{
        display: none !important;
    }
    .card{
        width: 18rem !important;
    }
    /* .about-image{
        width: 280px !important;
    } */
    .about-ladder{
        display: none !important;
    }
    .about-text-container{
        text-align: center !important;
        margin: auto;
    }
    .package-container{
        flex-direction: column !important;
        align-items: center;
    }
    .travel-text{
        font-size: 30px !important;    
    }
    .travelRowBtn{
        position: absolute !important;
        bottom: 222px !important;
        right: 71px !important;
        width: 151px !important;
        border-radius: 20px !important;
    }
    }
/* FOR LAPTOP AND I PAD PRO SCREEN */
@media screen and (max-width:1920px){
 
}
/* FOR PHONE AND I-PAD ROTATE SCREEN */
@media screen and (max-width:850px){
    .navBarCollapse .nav-item .nav-link{
        color: black !important;
        padding: 5px 225px;
    }
    .home-container{
        background-position: center;
    }
    .homeForm-container{
        height: 92px !important;
    }
    .blockingInput{
        display:none !important;
    }
    .home-item-btn{
        margin-bottom: 20px;
    }
    .find-hotels-text{
        font-size: 1.5rem !important;
    }
    .about-ladder{
        display: none !important;
    }
    .about-text-container{
        text-align: center !important;
        margin: auto;
    }
}
/* HOME CONTAINER SITE */
.home-container{
    background-image: url('../theme/pexels-miles-hardacre-2404370.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.home-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home-item{    
    margin-bottom: 10px;
}
.homeForm-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 152px;
    padding: 0 20px;
    /* background-color: #ffb703 !important; */
}
.input-group input{
    /* width: 30px !important; */
    margin: 0 15px;
}

/* DESTINATION CONTAINER */
.trainImageContainer{
    background-image: url('../theme/pexels-krishnakant-mahamuni-1201179.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.trainImageTextContainer{
    background-color: #e9ecef;
}
.trainImageText{
   margin-bottom: 25px;
}


/* DISCOUNT CONTAINER SITE */
.discount-container{
    background-image: url(../theme/alexander-schimmeck-H3mN3MI5eyU-unsplash.jpg);
    background-repeat:space;
    background-size: cover;
    background-position:bottom;
    position: relative;
}
.card{
    margin:20px 0 !important;
    background-color: whitesmoke !important;
}


/* ABOUT CONTAINER SITE */
.about-image{
    background-image: url('../theme/pexels-mudassir-ali-2300397.jpg');
    height: 700px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.about-ladder{
    display: flex;
    justify-content: space-around ;
    align-items:center;
    background-color: var(--primary);
}


/* TRAVEL PATH ROW */
.travelPath{
    background-image: url('../theme/beach.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.travelRowBtn{
    position: absolute;
    bottom: 222px;
    right: 120px;
    width: 151px;
    border-radius: 20px !important;
}
.travelImage{
    height: 265px !important;
    border-top-right-radius: 105px;
}
.responsive div{
    display: flex !important;
    justify-content: center !important;
}
.responsive .card-body{
    display: flex !important;
    flex-direction:column !important;
}
.card{
    transition: all 0.5s ;
}
.card:hover{
    transform: scale(1.05) !important;
}

/* CONTACT US SITE */
.contact-container{
    background-image: url('../theme/fuji.jpg');
    background-position: bottom;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.contact-bg-white{
    /* background-color: rgb(247, 242, 234,0.7) !important;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 460px; */
    display: flex;
    /* justify-content: end; */
}
.contact-bg-warning{
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
    display: flex;

}
.logo-row div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid yellow;
    background-color: rgb(255, 255, 0,0.3);
    transition: all 1s ease;
}
.logo-row div:hover{
    transform: scale(1.1);
}
.white-bg{
    background-color: rgb(240, 233, 233,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* Loader */
.loader-container{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2100;
    background-color: rgb(255, 255, 0);
}
.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  